/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(closest-side at calc(100%/6) 50%,#ffffff 90%,#ffffff00) 0/75% 100%;
    position: relative;
    animation: l15-0 1s infinite linear;
  }
  .loader::before {
    content:"";
    position: absolute;
    background: inherit;
    clip-path: inset(0 0 0 50%);
    inset: 0;
    animation: l15-1 0.5s infinite linear;
  }
  @keyframes l15-0 { 
      0%,49.99% {transform: scale(1)}
      50%,100%  {transform: scale(-1)} 
  }
  @keyframes l15-1 { 
      0%       {transform: translateX(-37.5%) rotate(0turn)} 
      80%,100% {transform: translateX(-37.5%) rotate(1turn)} 
  }


  /* HTML: <div class="loader"></div> */
.loader1 {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader1::before,
.loader1::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader1::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}